name: Convert Markdown to PDF using md-to-pdf

on:
  push:
    paths:
      - 'ChetanRakheja_CV.md'
      - 'cv-style.css'

jobs:
  generate-pdf:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install md-to-pdf
      run: npm install -g md-to-pdf

    - name: Generate PDF from Markdown
      run: |
        md-to-pdf ChetanRakheja_CV.md --launch-options='{"args": ["--no-sandbox"]}'

    - name: Copy PDF to public/
      run: cp ChetanRakheja_CV.pdf public/ChetanRakheja_CV.pdf

    - name: Commit and push PDF
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git remote set-url origin https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/chetanrakheja/chetanrakheja.git
        git add ChetanRakheja_CV.pdf public/ChetanRakheja_CV.pdf
        git commit -m "Auto-update ChetanRakheja_CV.pdf after changes to ChetanRakheja_CV.md" || echo "No changes to commit"
        git push

    # - name: Upload PDF to FTP
    #   uses: SamKirkland/FTP-Deploy-Action@v4.3.5
    #   with:
    #     server: ${{ secrets.FTP_SERVER }}
    #     username: ${{ secrets.FTP_USERNAME }}
    #     password: ${{ secrets.FTP_PASSWORD }}
    #     local-dir: ./             
    #     server-dir: ../  
    #     include: |
    #       ChetanRakheja_CV.pdf
    #     exclude: |
    #       **/.git*
    #       **/.git*/**
    #       **.gitignore
    #       **.css
    #       **.md
    #       **.DS_Store
    #       **.json
    #       **.yml
        
